body, td {
  margin:0;
  padding:0;
  font-size: 14px;
  font-family: "Segoe UI";
  background: #efefef;
  color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #555;
}
#container{
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}
header{
    background: #d7d7d7;
    overflow: auto;
}
#logo{
    width: 200px;
    height: 100px;
    float: left;
    background: #B50010 url('../images/logo.png') center center no-repeat;
}
nav ul{
    float:right;
    margin: 30px 10px;
    padding: 0;
    overflow: auto;
    border-radius: 50px;
}
nav>ul>li{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}
nav>ul>li>a{
    display: block;
    padding: 10px 30px;
    background: #fff;
}
nav>ul>li>a:hover{  
    background: #f5f5f5;
}
aside{
    min-height: 300px;
    padding: 10px;
}
aside p{
    margin-top:0;
}



footer{
    font-size: 12px;
    padding: 10px 20px;
}